* {
  margin: 0;
  padding: 0;
}

:root {
  --brand-1: #099d8d;
  --brand-2: #14d9c4;
  --brand-3: #ffffff;
  --brand-4: #000000;
  --brand-5: #54585a;
  --brand-6: #b8b8b9;
  --brand-bg: #f1f1f1;
  --font-main: "Open Sans", sans-serif;
  --font-second: "Rubik", sans-serif;
}

.container {
  margin: 0 15px;
}

p {
  color: var(--brand-5);
  font-family: var(--font-main);
}
*/ .display-flex {
  display: flex;
}

/*Team*/
.section {
  text-align: center;
  font-family: var(--font-main);
  color: var(--brand-4);
  font-size: 1em;
  font-weight: 300;
}

.title {
  font-family: var(--font-second);
  color: var(--brand-2);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.team-description1 {
  margin-top: 15px;
}

/* FORTALEZAS */
.bg-grey {
  background-color: var(--brand-6);
}

/*  PERFILES */
.profile-img {
  width: 180px;
  border: 4px solid var(--brand-5);
  border-radius: 10px;
  margin: 10px 0;
}

.names {
  font-family: var(--font-main);
  margin: 10px;
  font-weight: 500;
}

.social {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 15px;
}
.social li {
  margin: 15px 10px 0;
}
.social li:last-of-type {
  margin-right: 0;
}
.fa-circle {
  font-size: 3px;
}

/* FOOTER */
.footer {
  border-top: 1px solid var(--brand-6);
  padding-top: 30px;
}
.footer-nav {
  color: var(--brand-5);
  font-weight: 400;
  font-family: var(--font-main);
  padding: 10px;
}
.fab {
  color: var(--brand-5);
}

.copy {
  color: var(--brand-6);
  font-size: 14px;
}
