* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-1: #099d8d;
  --brand-2: #14d9c4;
  --brand-3: #ffffff;
  --brand-4: #000000;
  --brand-5: #54585a;
  --brand-6: #b8b8b932;
  --brand-bg: #f1f1f1;
  --font-main: "Open Sans", sans-serif;
  --font-second: "Rubik", sans-serif;
}

.header {
  width: 100%;
  background-color: var(--brand-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
}
.header-menu {
  width: 100%;
  text-align: center;
  background-color: var(--brand-2);
}
.menu-list-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 8px;
}
.header-team-logo a,
.header-menu a {
  color: var(--brand-3);
  text-decoration: none;
  font-family: var(--font-second);
  font-weight: 500;
}

.header-team-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.menu-list-items a {
  font-size: 15px;
  padding: 16px 8px;
  display: block;
  white-space: nowrap;
}

.container {
  margin: 30px 15px;
  padding: 15px 0;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

p {
  margin-bottom: 10px;
}

/* SECCION */
.section {
  text-align: center;
  font-family: var(--font-main);
  color: var(--brand-4);
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
}
.team {
  padding-top: 40px;
}

/*HERO*/
.hero {
  position: relative;
}

.hero-image {
  width: 100%;
  height: 421px;
  background-image: url("../img/spacelabers.jpg");
  background-size: cover;
  background-position: center;
}

.rectangle {
  background-color: white;
  /*opacity: 0.75;*/
  position: absolute;
  z-index: 2;
  bottom: 0;
  transform: translateY(80px);
  padding: 15px;
}

.claim {
  font-family: var(--font-main);
  color: var(--brand-4);
  text-align: center;
  font-size: 18px;
  ont-weight: 600;
  font-stretch: normal;
  font-style: normal;
}

.title {
  font-family: var(--font-second);
  color: var(--brand-2);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title-2 {
  font-family: var(--font-second);
  color: var(--brand-1);
  margin-top: 25px;
}

/* FORTALEZAS */
.bg-grey {
  background-color: var(--brand-6);
}
.fortalezas {
  margin-top: 0;
}
.containertriangle {
  width: 100%;
  display: flex;
  justify-content: center;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-top: 2em solid var(--brand-3);
  border-right: 1em solid transparent;
}

/*  PERFILES */
.profile-img {
  width: 180px;
  border: 4px solid var(--brand-5);
  border-radius: 10px;
  margin: 10px 0;
}

.names {
  font-family: var(--font-main);
  margin: 10px;
  font-weight: 500;
}

.social {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 15px;
  color: var(--brand-1);
}
.social li {
  margin: 15px 10px 0;
}
.social li:last-of-type {
  margin-right: 0;
}
.social li a {
  color: var(--brand-1);
}
.fa-circle {
  font-size: 3px;
}

/* FOOTER */
.footer {
  border-top: 1px solid var(--brand-6);
  padding-top: 30px;
}
.footer-nav {
  color: var(--brand-5);
  font-weight: 400;
  font-family: var(--font-main);
  padding: 10px;
}
.fab {
  color: var(--brand-5);
}

.copy {
  color: var(--brand-6);
  font-size: 14px;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 45px;
  }
  .header-menu {
    background-color: transparent;
  }
  .header-team-logo {
    justify-content: flex-start;
  }
  .rectangle {
    opacity: 0.9;
    transform: translateY(30px);
    padding: 15px 30px;
  }
  .container {
    margin: 30px 46px;
  }
}

@media all and (min-width: 1200px) {
  .hero-image {
    height: 550px;
  }
  .header-menu {
    width: auto;
  }
  .container {
    margin: 30px 142px;
  }
  .header {
    padding: 0 142px;
  }
}
