<footer class="footer">
  <div class="footer_maxw">
    <div class="section container footer_media-query">
      <small class="footer_copy">Spacelabers &copy; 2021</small>
      <nav class="footer_nav">
        <ul class="footer_nav-list">
          <li><a class="footer_nav-list-link" href="#team">Equipo</a></li>
          <li><a class="footer_nav-list-link" href="#about-us">Quiénes somos</a></li>
          <li><a class="footer_nav-list-link" href="index.html">Contacto</a></li>
        </ul>
      </nav>
      <a class="footer_logo" href="https://adalab.es/"><img src="./assets/images/logo-adalab.png"
          alt="Logo Adalab" /></a>
    </div>
  </div>
</footer>