<form class="form" action="https://formspree.io/f/mvovdbkv" method="POST">

  <div class="form__block">
    <label class="form__label" for="completeName">Nombre y Apellidos <span> *</span></label>
    <input class="form__input--name input" placeholder="Nombre..." id="completeName" type="text" name="completeName"
      required />
  </div>

  <div class="container__mail__telephone">

    <div class="form__mail">
      <label class="form__label" for="emailAddress">Mail<span> *</span></label>
      <input class="form__input--mail input" id="emailAddress" type="email" id="emailAddress" name="emailAddress"
        placeholder="nombre.apellidos@mail.com" required />
    </div>

    <div class="form__telephone">
      <label class="form__label" for="telephone">Teléfono</label>
      <input class="form__input--telephone input" placeholder="Ej: 123456789" id="telephone" type="tel" id="telephone"
        name="telephone" required />
    </div>
  </div>

  <div class="form_textarea">
    <label class="form__label" for="messages">Mensaje<span> *</span>:</label>
    <textarea class="form__mesage--textarea" placeholder="¿Qué necesitas?" id="messages" name="messages"></textarea>
  </div>

  <div class="form__buttom">
    <input class="form__submit" type="submit" value="Enviar" />
  </div>

</form>