<form class="form" action="" method="POST">


    <label class="form__label" for="completeName">Nombre y Apellidos <span> *</span></label>
    <input class="form__input--name input" placeholder="Nombre..." id="completeName" type="text" name="completeName"
        required />

    <label class="form__label" for="emailAddress">Mail<span> *</span></label>
    <input class="form__input--mail input" id="emailAddress" type="email" id="emailAddress" name="emailAddress"
        value="nombre.apellidos@mail.com" required />

    <label class="form__label" for="telephone">Teléfono<span> *</span></label>
    <input class="form__input--telephone input" placeholder="Ej: 123456789" id="telephone" type="tel" id="telephone"
        name="telephone" required />

    <label class="form__label" for="messages">Mensaje:</label>
    <textarea class="form__textarea" placeholder="¿Qué necesitas?" id="messages" name="messages"></textarea>

    <input class="form__submit" type="submit" value="Enviar" />

</form>