<header class="header">
  <div class="header-team-logo">
    <a href="https://adalab.es" title="Ir a página principal">SPACELABERS</a>
  </div>

  <div class="header_menu">
    <nav class="header_nav">
      <ul class="header_nav-list">
        <li>
          <a class="header_nav-list-link" 
          href="#team">EQUIPO</a>
        </li>
        <li>
          <a  class="header_nav-list-link" href="#about-us">QUIENES SOMOS</a>
        </li>
        <li>
          <a class="header_nav-list-link" href="index.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
