<header class="header">
  <div class="header_logo">
    <a class="header_logo-link" href="../index.html" title="Ir a página principal">Spacelabers</a>
  </div>


  <nav class="header_nav">
    <ul class="header_nav-list">
      <li>
        <a class="header_nav-list-link" href="#team">Equipo</a>
      </li>
      <li>
        <a class="header_nav-list-link" href="#about-us">Quienes somos</a>
      </li>
      <li>
        <a class="header_nav-list-link" href="contact.html">Contacto</a>
      </li>
    </ul>
  </nav>

</header>