<main>
  <section class="hero">
    <div class="hero-image"></div>

    <div class="container rectangle">
      <h1 class="claim">¡Houston, aquí no tenemos problemas!</h1>
    </div>
  </section>

  <!-- Team -->
  <section id="team" class="container section team">
    <h2 class="title">Equipo</h2>
    <p>
      ¿Quién no ha pensado alguna vez en cómo sería la experiencia de VIAJAR AL ESPACIO? Es el sueño de muchos y el
      privilegio de solo unos pocos.</p>
    <p>Las astronautas SPACELABERS adquirimos conocimientos sobre el funcionamiento de diferentes lenguajes y
      habilidades de programación en la estación espacial ADALAB. Tras pocas semanas podemos despegar hacia el
      profundo COSMOS DEL DESARROLLO.</p>
    <p>No se trata de un bootcamp cualquiera, se trata de un plan de capacitación intensivo para preparar a viajeras
      del universo hacia CÓDIGOS GALÁCTICOS DESCONOCIDOS.</p>
    <p>Dinos que MISIÓN ESPACIAL necesitas y exploráremos el UNIVERSO DEL CÓDIGO para ti.</p>
    </p>
  </section>
  <!-- Fortalezas Debilidades -->
  <section class="bg-grey">
    <div class="containertriangle">
      <div class="triangle"></div>
    </div>
    <div class="container section fortalezas-debilidades">
      <div class="fortalezas">
        <h2 class="title-2">Fortalezas</h2>
        <p>
          Somos un equipo de mujeres valientes, luchadoras y que les encanta
          viajar. Venimos de lugares diferentes y tenemos distintos
          aprendizajes. Todos ellos puestos en común, nos van a hacer
          superar todos los retos que se pongan en nuestro camino. Vamos a
          hacer las mejores webs del universo, y te invitamos a conocernos.
        </p>
      </div>
      <div class="debilidades">
        <h2 class="title-2">Debilidades</h2>
        <p>
          Empezamos en un mundo nuevo y eso supone un reto muy importante
          para nosotras. Somos muy trabajadoras y aunque vengan momentos
          difíciles, estoy segura que los vamos a superar todas unidas.
          Tenemos mucho que aprender, pero pensamos que podemos aportar
          muchas cosas al mundo de la programación.
        </p>
      </div>
    </div>
  </section>

  <!-- ABOUT US -->
  <section id="about-us" class="container section about-us">
    <h2 class="title">Quienes Somos</h2>
    <article class="article">
      <img class="profile-img" src="./assets/images/foto-jech.jpeg" alt="Imagen perfil Jech">
      <div class="article-text">
        <h3 class="names">Jech Fernández</h3>
        <p>
          Mi misión espacial dio comienzo en la cordillera chilena. Tras orbitar por años entre el mundo del
          diseño
          gráfico y del tatuaje, pasando por varios países en el camino, he acabado aterrizando en un mundo
          completamente nuevo, desafiante y excitante como lo es el de la programación.</p>
        <p>Aquí he decidido asentarme por
          un tiempo hasta poder comprender mejor la inmensidad que todo este mundo del front-end conlleva.
        </p>
        <div>
          <ul class="social">
            <li><a href="https://twitter.com/?lang=es"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
            <li><a href="https://github.com/jechfernandez"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
            <li><a href="https://www.linkedin.com/in/jechfernandez"><i class="fa fa-linkedin"
                  aria-hidden="true"></i></a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
            <li><a href="mailto:jechfernandez@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </article>
    <article class="article article-right">
      <img class="profile-img" src="./assets/images/foto-carmen.jpg" alt="Imagen perfil Carmen">
     <div class="article-text article-text-right">
        <h3 class="names">Carmen Martínez</h3>
        <p>
          Mi aventura comienza cuando, dispuesta a cambiar mi trayectoria profesional, me adentré en el
          universo de la
          programación en la nave Adalab. Un universo del cual habia oido hablar durante todos mis viajes a
          otros
          multiversos profesionales relacionados con la Publicidad y el Marketing Digital.</p>
        Y yo, viajera de pasión, no me
        podía perder este vuelo espacial.
        <p>Y aquí estoy con todo tipos de lenguajes diferentes e infinitos., escribiendo mi propio código...</p>
        <p>¿Te ayudo
          con
          el tuyo?</p>

        <div>
          <ul class="social">
            <li><a href="https://twitter.com/CarmenR75539328"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
            <li><a href="https://github.com/Carmen-ramos"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
            <li><a href="https://www.linkedin.com/in/carmen-ramos-884487182/"><i class="fa fa-linkedin"
                  aria-hidden="true"></i></a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
            <li><a href="mailto:carmen.rama91@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
     </div>
    </article>
    <article class="article">
        <img class="profile-img" src="./assets/images/foto-mari.jpg" alt="Imagen perfil Marianne" />
        <div class="article-text">
          <h3 class="names">Marianne Orts</h3>
          <p>
            Por mi curiosidad y mi necesidad constante de aprender cosas nuevas, he tenido un amplio recorrido
            por diferentes galaxias profesionales, y ahora he descubierto mi pasión por la programación.</p>
          <p>
            Estoy acostumbrada a trabajar en equipo, aplicando técnicas de mejora continua y siempre tratando de
            buscar soluciones agiles en cada proyecto.
            Soy polivalente, creativa, apasionada, valiente y viajera.
          </p>
          <div>
            <ul class="social">
              <li><a href="https://twitter.com/?lang=es"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li><i class="fa fa-circle" aria-hidden="true"></i></li>
              <li><a href="https://github.com/Marianne-Orts"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
              <li><i class="fa fa-circle" aria-hidden="true"></i></li>
              <li href="https://www.linkedin.com/home"><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><i class="fa fa-circle" aria-hidden="true"></i></li>
              <li><a href="mailto:ma.orts.ma@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
    </article>
    <article class="article article-right">
      <img class="profile-img" src="./assets/images/foto-dandara.jpg" alt="Imagen perfil Dandara">
      <div class="article-text article-text-right">
        <h3 class="names">Dandara Almeida</h3>
        <p>
          Programadora front-end en entrenamiento, desarrollando todavía más mis habilidades para trabajar en
          equipo y
          en remoto. Soy de las que cruzó el mundo del periodismo para explorar el de la programación.</p>
        <p> Mis nuevas estrellas son el HTML, CSS y el Flex-box. Estoy en el principio de un viaje por todo el
          universo
          de los lenguajes de programación para hacer páginas web y aplicaciones que sean responsive en
          cualquier
          dispositivo intergaláctico para todos los usuarios de la galaxia.
        </p>
        <div>
          <ul class="social">
            <li><a href="https://twitter.com/_AlmeidaDan_"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
            <li><a href="https://github.com/dand-code"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
            <li href="https://www.linkedin.com/in/dandara-de-almeida/"><a><i class="fa fa-linkedin"
                  aria-hidden="true"></i></a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
            <li><a href="mailto:dandara.avazquez@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
    </article>
  </section>
</main>