<main>
  <!-- Team -->
  <section id="team" class="container section team">
    <h2 class="title">Equipo</h2>
    <p>
      ¿Quién no ha pensado alguna vez en cómo sería la experiencia de VIAJAR AL ESPACIO? Es el sueño de muchos y el
      privilegio de solo unos pocos.</p>
    <p>Las astronautas SPACELABERS adquirimos conocimientos sobre el funcionamiento de diferentes lenguajes y
      habilidades de programación en la estación espacial ADALAB. Tras pocas semanas podemos despegar hacia el
      profundo COSMOS DEL DESARROLLO.</p>
    <p>No se trata de un bootcamp cualquiera, se trata de un plan de capacitación intensivo para preparar a viajeras
      del universo hacia CÓDIGOS GALÁCTICOS DESCONOCIDOS.</p>
    <p>Dinos que MISIÓN ESPACIAL necesitas y exploráremos el UNIVERSO DEL CÓDIGO para ti.</p>
    </p>
  </section>
  <!-- Fortalezas Debilidades -->
  <section class="fortalezasydebilidades">
    <div class="fortalezasydebilidades__containertriangle">
      <div class="fortalezasydebilidades__containertriangle--triangle"></div>
    </div>
    <div class="container section fortalezasydebilidades__contenidos">
      <div class="fortalezas">
        <h2 class="title-2">Fortalezas</h2>
        <p>
          Somos un equipo de mujeres valientes, luchadoras y que les encanta
          viajar. Venimos de lugares diferentes y tenemos distintos
          aprendizajes. Todos ellos puestos en común, nos van a hacer
          superar todos los retos que se pongan en nuestro camino. Vamos a
          hacer las mejores webs del universo, y te invitamos a conocernos.
        </p>
      </div>
      <div class="debilidades">
        <h2 class="title-2">Debilidades</h2>
        <p>
          Empezamos en un mundo nuevo y eso supone un reto muy importante
          para nosotras. Somos muy trabajadoras y aunque vengan momentos
          difíciles, estoy segura que los vamos a superar todas unidas.
          Tenemos mucho que aprender, pero pensamos que podemos aportar
          muchas cosas al mundo de la programación.
        </p>
      </div>
    </div>
  </section>

  <!-- ABOUT US -->

  <include src="./about_us.html"></include>

</main>