@mixin sectionClass() {
  text-align: center;
  font-family: $fontMain;
  color: $colorBrand-5;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
}

@mixin containerClass() {
  margin: 30px 15px;
  padding: 15px 0;
}

//PRUEBA CON MARGENES EN PORCENTAJES//
@mixin containerClassdesktop() {
  margin-right: 11%;
  margin-left: 11%;
}

@mixin titleClass() {
  font-family: $fontSecond;
  color: $colorBrand-1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@mixin title-2Class() {
  font-family: $fontSecond;
  color: $colorBrand-1;
}

@mixin tablet {
  @media all and (min-width: 768px) {
  @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}

//MEDIAQUERIES, CHANGE TO MIXINS

@media all and (min-width: 768px) {
  //TABLET

  .title-2 {
    padding-bottom: 15px;
  }
  .fortalezas-debilidades {
    margin-top: 0;
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* .fortalezas {
    padding-right: 15px;
  }
  .debilidades {
    padding-left: 15px;
  } */
  /*ABOUT US*/
  /*
  .article {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
  }
  .article-text {
    flex-basis: calc(60% - 5px);
    text-align: left;
  }
  .profile-img {
    width: 30%;
    height: 30%;
    max-width: 200px;
  }
  .article-right {
    flex-direction: row-reverse;
  }
  .article-text-right {
    text-align: right;
  }*/
}
@media all and (min-width: 1200px) {
  //DESKTOP

  .fortalezas-debilidades {
    margin-top: 0;
    padding-top: 13px;
  }
  /*.fortalezas {
    padding-right: 22.5px;
  }
  .debilidades {
    padding-left: 22.5px;
  }*/
  .article-text {
    flex-basis: calc(70% - 5px);
  }
}
