@mixin sectionClass(){
    text-align: center;
    font-family: var(--font-main);
    color: var(--brand-5);
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4;
}

@mixin containerClass(){
  margin: 30px 15px;
  padding: 15px 0;
}

@mixin titleClass(){
  font-family: var(--font-second);
  color: var(--brand-2);
  text-transform: uppercase;
  margin-bottom: 10px;
}

@mixin title-2Class(){
  font-family: var(--font-second);
  color: var(--brand-1);
}