$colorBrand-1: #099d8d;
$colorBrand-2: #14d9c4;
$colorBrand-3: #ffffff;
$colorBrand-4: #000000;
$colorBrand_5: #54585a;
$colorBrand-6: #b8b8b9;
$colorBrand-bg: #f1f1f1;
$fontMain: "Open Sans", sans-serif;
$fontSecond: "Rubik", sans-serif;
