:root {
    --brand-1: #099d8d;
    --brand-2: #14d9c4;
    --brand-3: #ffffff;
    --brand-4: #000000;
    --brand-5: #54585a;
    --brand-6: #b8b8b9;
    --brand-bg: #f1f1f1;
    --font-main: "Open Sans", sans-serif;
    --font-second: "Rubik", sans-serif;
  }
