/*  PROFILES - Quienes Somos */

#about-us {
  scroll-margin-top: 105px;
}

.article__img {
  width: 180px;
  border: 4px solid $colorBrand-5;
  border-radius: 10px;
  margin: 10px 0;
}

.article__text--names {
  font-family: $fontMain;
  margin-bottom: 10px;
  font-weight: 500;
}

/*SCSS SOCIAL*/
.article__text--social {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 15px;
  color: $colorBrand_5;

  li {
    margin: 15px 10px 0;
    :last-of-type {
      margin-right: 0;
    }
  }

  a {
    color: $colorBrand_1;
  }

  .fa-circle {
    font-size: 3px;
  }
}

@media all and (min-width: 768px) {
  .section__article {
    padding: 10px;
    display: flex;
  }
  .section__article:nth-child(even) {
    text-align: left;
  }
  .section__article:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .article__text {
    /*padding: 5px;
    width: 75%;
    font-size: 16px;*/
  }

  .article__img {
    margin: auto 20px;
    width: 25%;
    height: 25%;
    max-width: 500px;
  }
}

@media all and (min-width: 1200px) {
  width: 30%;
  height: 30%;
  max-width: 200px;
}
