/* SECCION */
#team {
  scroll-margin-top: 90px;
}
.section {
  @include sectionClass();
}

.team {
  padding-top: 40px;
}

/* FORTALEZAS Y DEBILIDADES */
.fortalezasydebilidades {
  background-color: $colorBrand-7;

  &__containertriangle {
    width: 100%;
    display: flex;
    justify-content: center;

    &--triangle {
      width: 0;
      height: 0;
      border-left: 1em solid transparent;
      border-top: 2em solid $colorBrand-3;
      border-right: 1em solid transparent;
    }
  }

  &__contenidos {
    margin-top: 0;
  }
}
@media all and (min-width: 768px) {
  //TABLET

  .title-2 {
    padding-bottom: 15px;
  }
  .fortalezasydebilidades__contenidos {
    margin-top: 0;
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fortalezas {
    padding-right: 15px;
  }
  .debilidades {
    padding-left: 15px;
  }
}
