.footer {
  border-top: 1px solid $colorBrand-6;
  padding-top: 30px;

  &_copy {
    color: &colorBrand-6;
    font-size: 14px;
  }

  &_nav {
    color: &colorBrand-5;
    font-weight: 400;
    font-family: $fontMain;
    padding: 10px;

    &-list {
      list-style: none;

      &-link {
        color: $colorBrand-5;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
