*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form {
  margin-top: 50px;
  height: 100vh;
  @include containerClass();
  display: flex;
  flex-direction: column;
  /*appearance: none;*/
}

span {
  color: $colorBrand-2;
}

.form__label{
  color: $colorBrand-6;
  display: block;
  font-family: $fontMain;
  font-size: 14px;
}

.form__submit {
  display: block;
  margin: 20px 0 40px 0;
  height: 45px;
  background-color: $colorBrand-1;
  border-radius: 5px;
  color: $colorBrand-3;
  text-transform: uppercase;
  font-weight: bold;
}

.input {
  display: block;
  width: 290px;
  height: 45px;
  margin: 7px 0 13px;
  padding: 10px;
  border: solid 1px $colorBrand-6;
}
.form__textarea {
  height: 110px;
  width: 100%;
  margin: 7px 0 13px;
}


.form__submit {
  display: block;
  margin: 20px 0;
  width: 290px;
  height: 45px;
  background-color: $colorBrand-1;
  border-radius: 5px;
  color: $colorBrand-3;
  text-transform: uppercase;
  font-weight: bold;
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}
