*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

.form {
  @include containerClass();
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  /*appearance: none;*/
}

span {
  color: $colorBrand-2;
}

.form__label {
  color: $colorBrand-6;
  font-family: $fontMain;
  font-size: 14px;
}

.input {
  width: 290px;
  height: 45px;
  margin: 7px 0 13px;
  padding: 7px 180px 15px 15px;
  border: solid 1px $colorBrand-6;
}

.form__textarea {
  height: 110px;
  width: 290px;
  margin: 7px 0 13px;
}


.form__submit {
  display: block;
  margin: 20px 0 40px 0;
  width: 290px;
  height: 45px;
  background-color: $colorBrand-1;
  border-radius: 5px;
  color: $colorBrand-3;
  text-transform: uppercase;
  font-weight: bold;
}