// CORE
@import 'core/reset';
@import 'core/variables';
@import 'core/mixins'; 

html {
  scroll-behavior: smooth;
}
//LAYOUT
@import 'layout/header';
@import 'layout/hero';  
@import 'layout/footer';  

// PAGES
@import 'pages/team'; 
@import 'pages/about-us'; 


@media all and (min-width: 768px) {
  //TABLET
  .header {
    flex-direction: row;
    padding: 0 45px;
  }
  .header-menu {
    background-color: transparent;
  }
  .header-team-logo {
    justify-content: flex-start;
  }
  .rectangle {
    opacity: 0.9;
    transform: translateY(30px);
    padding: 15px 30px;
  }
  .container {
    margin: 30px 46px;
  }
  .title-2 {
    padding-bottom: 15px;
  }
  .fortalezas-debilidades {
    margin-top: 0;
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fortalezas {
    padding-right: 15px;
  }
  .debilidades {
    padding-left: 15px;
  }
  .article {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
  }
  .article-text {
    flex-basis: calc(60% - 5px);
    text-align: left;
  }
  .profile-img {
    width: 30%;
    height: 30%;
    max-width: 200px;
  }
  .article-right {
    flex-direction: row-reverse;
  }
  .article-text-right {
    text-align: right;
  }

  .footer {
    padding: 0;
  }

  .footer-nav ul {
    list-style: none;
  }

  .footer_media-query {
    position: relative;
  }
  .footer-nav {
    display: inline-flex;
    line-height: 30px;
    position: relative;
    top: -20px;
    float: right;
    text-align: right;
  }
  .copy {
    position: absolute;
    top: 0;
    left: 0;
  }
  .logo-footer {
    position: absolute;
    top: 20px;
    left: -20px;
    margin-bottom: 20px;
  }
}
@media all and (min-width: 1200px) {
  //DESKTOP
  .hero-image {
    height: 550px;
  }
  .header-menu {
    width: auto;
  }
  .container {
    margin: 30px 142px;
  }
  .header {
    padding: 0 142px;
  }
  .fortalezas-debilidades {
    margin-top: 0;
    padding-top: 13px;
  }
  .fortalezas {
    padding-right: 22.5px;
  }
  .debilidades {
    padding-left: 22.5px;
  }
  .article-text {
    flex-basis: calc(70% - 5px);
  }
}
